/* ===========================
Importar Bootstrap
=============================== */
@import"../libs/bootstrap-4.4.1/scss/bootstrap";

/* ===========================
Sección Hero
=============================== */
.navbar {
    background: #07273d !important;
    transition: all 0.2s;
}

/* ===========================
Sección Hero
=============================== */
.sectionHero{
    padding: 100px 0px;
    background: url(../images/section-hero/hero-background.jpg) center center no-repeat;
    background-size: cover;
}
/* ===========================
Sección Carousel
=============================== */
#carouselOpinions > .carousel-inner {
    padding: 0px 80px;
}

/* ===========================
Media Query
=============================== */
.section-opinions {
    padding: 100px 0px;
    background: #262431;
}
/* ===========================
Media Query
=============================== */
@media (min-width: 992px){
 /* Navbar*/
 .navbar {
    background: transparent !important;
 }
}

